.features {
  min-height: 100vh;
  background-color: transparent;

  .features-title {
    font-size: $font-size-title;
    font-weight: 800;

    ~.container-fluid {
      width: 85%;
    }
  }


  .card {

    .card-header {
      line-height: 2.5rem;

      >.card-header-icon {
        font-size: 1.3rem;
        padding: 8px 11px;
        color: $white-color;
        background-color: $landing-text-color;
        @include landing-color-box-shadow();
      }
    }

    .card-body {

      >.card-title {
        color: #2E2C2C;
        font-weight: 500;
      }

      >.card-text {
        font-size: $font-size-text;
        color: $grey-color;
      }

      >.card-link {
        outline: none;
        color: $landing-text-color;
        font-size: $font-size-text;
        transition: color 300ms ease-in-out;

        &:hover,
        &:focus {
          color: $landing-text-color-transition;
        }
      }
    }
  }
}
