.header {
  min-height: calc(100vh - 52px);

  .landing-intro-image {
    max-height: 400px;
  }

  .landing-intro-title {
    font-size: 2rem;
    font-weight: 800;
  }

  .landing-intro-detail {
    font-size: .875rem;
    color: #858585;

    ~.btn {
      color: $white-color;
      padding: 8px 25px;
      background-image: linear-gradient(to left, $landing-text-color 50%, $landing-text-color-transition 50%);
      background-position: 100% 0;
      background-size: 201% 100%;
      transition: all 400ms ease-in;
      @include landing-color-box-shadow();

      &:hover,
      &:focus {
        background-position: 0 0;
      }
    }
  }
}
