.header {
  min-height: calc(100vh - 52px);

  .landing-intro-image {
    max-height: 400px;

    &.rotate-scale-up {
      @include rotate-scale-up();
    }
  }

  .landing-intro-title {
    font-size: 2rem;
    font-weight: 800;
  }

  .landing-intro-detail {
    font-size: $font-size-text;
    color: $grey-color;

    ~.btn {
      @include landing-button();
    }
  }
}
