.interactive {
  min-height: 100vh;

  .interactive-title {
    font-size: $font-size-title;
    font-weight: 800;

    +.interactive-detail {
      padding: 1rem 0;
      font-size: $font-size-text;
      color: $grey-color;

      +.list-group {
        margin: 0 0 2rem;

        >li {
          border: 0;
          padding: .25rem 0;
          font-size: $font-size-text;
          color: $grey-color;

          >i {
            font-size: 1.2rem;
            color: $check-color;
          }
        }

        +.card {
          box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.15);

          >.d-flex {

            >img {
              max-height: 50px;
            }

            .card-info {
              color: $black-color;
              font-size: $font-size-text;

              >h4 {
                font-size: inherit;
                font-weight: 800;
              }
            }
          }

          .card-body>p {
            margin: 0;
            color: $grey-color;
            font-style: italic;
            font-size: $font-size-text;
            font-weight: 400;
          }
        }
      }
    }
  }
}
