.testimonials {
  min-height: 80vh;

  .testimonials-title {
    font-size: $font-size-title;
    font-weight: 800;
  }

  .testimonials-image {
    max-height: 100px;
  }

  .testimonials-detail {
    padding: 1rem 0;
    font-size: .9rem;
    font-weight: 400;
    font-style: italic;
    color: $grey-color;
  }

  .testimonials-name {
    text-align: center;
    font-size: .9rem;
  }

  .glider-contain {
    >#dots {
      padding: 1rem 0;

      .glider-dot {
        outline: none;

        &.active {
          background-color: $landing-text-color !important;
        }
      }
    }
  }
}
