$fonts-url: '../../../assets/fonts';
<<<<<<< HEAD

$sans-serif-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;

$trueno-family-r: 'truenoregular';
$trueno-family-sb: 'truenosemibold';
$trueno-family-b: 'truenobold';
$trueno-family-eb: 'truenoextrabold';

$default-text-color: #2D3033;
$default-font-size: 1rem;
$default-line-height: 1.5;

$white-color: #FFFFFF;
$background-color: #F6F6F6;

$navigation-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

$link-navigation-color: #343434;
$link-navigation-transition-color: #A19B9B;

$cyan-color: 	#00D2B5;
<<<<<<< HEAD
<<<<<<< HEAD
$cyan-light-color: #06e2c1;
=======
>>>>>>> parent of 6a5d49f... Maquetación de la sección de características
$cyan-active-color: #47E0CA;
$cyan-transition-color: #008B79;
$cyan-shadow-color: rgba(0, 210, 181, 0.35);

$title-color:  #1C1C1C;
$title-size: 1.6rem;
$title-size-l: 2rem;
$title-size-el: 2.5rem;
=======
$cyan-transition-color: #47E0CA;

$title-color:  #1C1C1C;
$title-size: 1.6rem;
>>>>>>> parent of a222a03... Maquetación de la sección principal del landing page responsive

$subtitle-color: #616161;
$text-color: #8a9197;
$placeholder-text-color: #D6D9DB;

$done-color: #A2D16A;

$footer-text-color: #8F8F8F;

$transition-opacity: opacity 600ms ease-in-out;
$transition-color: color 600ms ease-in-out;
=======
>>>>>>> parent of 0cb53e5... Cambio de libreria slider y maquetar el header, navegation y footer del landing page responsive
