.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $white-color;
  background-clip: border-box;
  border: 1px solid $card-border-color;
  border-radius: .3rem;

  @include card-shadow;

  &_header {
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }

  &_image {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    >img {
      border-radius: 50%;
      max-width: 100%;
      width: auto;
      max-height: 50px;
    }

    >figcaption {
      padding-left: 1rem;
      line-height: 1.5;

      strong {
        color: $title-color;
        font-size: $default-text-size;
      }

      small {
        color: $subtitle-color;
        font-size: $subtitle-size;
      }
    }
  }

  &_body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.2rem;

    blockquote {
      line-height: 1.5;
      color: $text-color;
    }
  }

  &_text {
    font-size: $text-size;
  }
}
