.features {
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  padding: 3rem 0;

  &_title {
    @include section-title;
  }

  &_content {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // .poster { }

  @media (min-width: 576px) {
    .poster {
      width: calc((100% - 2rem) / 2);
    }
  }

  @media (min-width: 768px) {
    &_content {
      width: 85%;
    }

    .poster {
      width: calc((100% - 3rem) / 3);
    }
  }

  @media (min-height: 636px) {
    min-height: auto;
  }
}
