.home {
  min-height: 100vh;
  padding: 52px 0 20px;
  width: 100%;
  background-color: $white-color;

  &_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 52px);
  }

  &_intro {
    position: relative;
    padding: 0 1rem;
    width: 100%;
    order: 1;
    margin: 1rem 0 0;

    &_title {
      line-height: 1.2;
      font-family: $trueno-family-eb;
      color: $title-color;
      font-size: $title-size-l;
      margin: 0 auto .5rem;
    }

    &_description {
      font-size: .8rem;
      line-height: $text-line-height;
      color: $text-color;
      margin-bottom: 1rem;
    }

    &_started {
      @include landing-button;
    }

    @media (min-width: 1200px) {
      padding: 0 6rem 0 8rem;
    }
  }

  &_image {
    position: relative;
    padding: 0 1rem;
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 0;
    order: 0;

    >img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: auto;
      max-height: 300px;
      float: none;
    }
  }

  @media (min-width: 576px) {
    padding-top: 46px;

    &_content {
      justify-content: space-between;
      flex-direction: row;
      min-height: calc(100vh - 94px);
    }

    &_intro {
      flex: 0 0 33.3%;
      max-width: 33.3%;
      order: 0;
      padding: 0 1rem 0;
      margin: 0;

      &_title {
        font-size: $title-size-l;
      }
    }

    &_image {
      flex: 0 0 66.6%;
      max-width: 66.6%;
      order: 1;
      padding: 0;
      margin: 0;

      >img {
        max-height: 400px;
      }
    }
  }

  @media (min-width: 768px) {
    &_intro {
      flex: 0 0 38%;
      max-width: 38%;
      padding: 0 3rem 0;

      &_title {
        font-size: $title-size-el;
      }
    }

    &_image {
      flex: 0 0 62%;
      max-width: 62%;

      >img {
        max-height: 500px;
        margin: auto;
        float: right;
      }
    }
  }

  @media (min-width: 992px) {
    &_intro {
      padding: 0 3.5rem;
    }

    &_image {

      >img {
        max-height: 550px;
      }
    }
  }

  @media (max-width: 575px) and (min-height: 900), (min-width: 576px) and (min-height: 700px) {
    min-height: auto;

    &_content {
      min-height: auto;
      padding: 1.5rem 0;
    }
  }
}
