.prototypes {
  min-height: 100vh;
  background-color: $white-color;
  padding: 3rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &_slider,
  &_content {
    position: relative;
    width: 100%;
    padding: 0;
  }

  &_image {
    position: relative;
    width: 100%;
    overflow: hidden;

    >img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: auto;
      max-height: 500px;
    }
  }

  &_title {
    font-size: $title-size;
    font-family: $trueno-family-eb;
    margin-bottom: .5rem;
    line-height: 1.2;
  }

  &_text {
    padding: 1rem 0;
    font-size: $text-size;
    color: $text-light-color;
    margin-bottom: 1rem;
  }

  &_list {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;

    >li {
      list-style: none;
      font-size: $text-size;
      color: $text-light-color;
      line-height: 1.8;
      padding: .25rem 0;

      >i {
        font-size: 1.2rem;
        color: $done-color;
        font-weight: 800;
      }
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white-color;
    background-clip: border-box;
    border: 1px solid $border-shadow-color;
    border-radius: .3rem;
    box-shadow: 0 .3rem .5rem $border-shadow-color;
    -webkit-box-shadow: 0 .3rem .5rem $border-shadow-color;
    -moz-box-shadow: 0 .3rem .5rem $border-shadow-color;

    &_header {
      padding: 1rem 1rem 0;
      margin-bottom: 0;
    }

    &_image {
      position: relative;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;

      >img {
        border-radius: 50%;
        max-width: 100%;
        width: auto;
        max-height: 50px;
      }

      >figcaption {
        padding-left: 1rem;
        line-height: 1.5;

        strong {
          color: $title-color;
          font-size: $default-font-size;
        }

        small {
          color: $subtitle-color;
          font-size: $subtitle-size;
        }
      }
    }

    &_body {
      flex: 1 1 auto;
      padding: 1.2rem;

      blockquote {
        line-height: 1.5;
        color: $text-color;
      }
    }

    &_text {
      font-size: $text-size;
    }
  }
}

@media (min-width: 576px) {
  .prototypes {

    &_slider,
    &_content {
      padding: 0 15px;
    }

    &_slider {
      flex: 0 0 55%;
      max-width: 55%;
    }

    &_content {
      flex: 0 0 45%;
      max-width: 45%;
    }
  }
}

@media (min-width: 768px) {
  .prototypes {

    &_content {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}

@media (min-width: 992px) {
  .prototypes {

    &_content {
      padding-right: 8rem;
    }
  }
}
