@mixin section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 3rem;

  >h4 {
    font-family: $trueno-family-eb;
    font-size: $title-size-l;
    line-height: 1.2;
    margin: 0;
  }

  @content;
}

@mixin animation {
  animation-fill-mode: both;
  animation-delay: 500ms;

  &.loop {
    animation-iteration-count: infinite;
  }

  @content;

  @media (print), (prefers-reduced-motion: reduce) {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}
