@font-face {
  font-family: 'Trueno';
  src: url('~@fonts/trueno/TruenoRg.eot');
  src: url('~@fonts/trueno/TruenoRg.eot?#iefix') format('embedded-opentype'),
       url('~@fonts/trueno/TruenoRg.woff2') format('woff2'),
       url('~@fonts/trueno/TruenoRg.woff') format('woff'),
       url('~@fonts/trueno/TruenoRg.ttf') format('truetype'),
       url('~@fonts/trueno/TruenoRg.svg#TruenoRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('~@fonts/trueno/TruenoBd.eot');
  src: url('~@fonts/trueno/TruenoBd.eot?#iefix') format('embedded-opentype'),
       url('~@fonts/trueno/TruenoBd.woff2') format('woff2'),
       url('~@fonts/trueno/TruenoBd.woff') format('woff'),
       url('~@fonts/trueno/TruenoBd.ttf') format('truetype'),
       url('~@fonts/trueno/TruenoBd.svg#TruenoBd') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('~@fonts/trueno/TruenoExBd.eot');
  src: url('~@fonts/trueno/TruenoExBd.eot?#iefix') format('embedded-opentype'),
    url('~@fonts/trueno/TruenoExBd.woff2') format('woff2'),
    url('~@fonts/trueno/TruenoExBd.woff') format('woff'),
    url('~@fonts/trueno/TruenoExBd.ttf') format('truetype'),
    url('~@fonts/trueno/TruenoExBd.svg#TruenoExBd') format('svg');
  font-weight: 800;
  font-style: normal;
}
