@mixin landing-color-box-shadow() {
  box-shadow: $landing-text-color-box-shadow;
  -webkit-box-shadow: $landing-text-color-box-shadow;
  -moz-box-shadow: $landing-text-color-box-shadow;
}

@mixin landing-button() {
  color: $white-color;
  padding: 8px 25px;
  background-image: linear-gradient(to left, $landing-text-color 50%, $landing-text-color-transition 50%);
  background-position: 100% 0;
  background-size: 201% 100%;
  transition: all 400ms ease-in;
  @include landing-color-box-shadow();

  &:hover,
  &:focus {
    background-position: 0 0;
  }
}

@mixin rotate-scale-up() {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}
