$landing-text-color: rgb(0, 210, 181) !default;
$landing-text-color-transition: rgb(0, 139, 121) !default;
$landing-text-color-box-shadow: 0px 0px 10px 0px rgba(0,210,181,0.35);

$navbar-toggler-icon-color: #474747 !default;

$font-size-base: 14px !default;
$font-size-title: 1.8rem !default;
$font-size-text: .875rem !default;

$black-color: #2C2C2C !default;
$white-color: #FFFFFF !default;
$grey-color: #919191 !default;

$check-color: #8BCC66;

$font-Flaticon-refresh: '\f100';
$font-Flaticon-projector-with-plug: '\f101';
$font-Flaticon-happy: '\f102';
$font-Flaticon-writing: '\f103';
$font-Flaticon-pc-administrator: '\f104';
$font-Flaticon-classification: '\f105';
